.git
.github
.eslintrc.json
.env.example
.codeclimate.yml
.eslintignore
.rspec
.byebug_history
.DS_Store
.env.local
.env.production
*.md
yarn-error.log
node_modules
log
tmp
spec
coverage/
public/packs
public/packs-test

# Elastic Beanstalk Files
.elasticbeanstalk/*
.gitignore
