version: '3.7'
volumes:
  public:
services:
  db:
    image: postgres
    volumes:
      - ./tmp/db:/var/lib/postgresql/data
  web:
    build: .
    command: bash -c "rm -f tmp/pids/server.pid && bundle exec rails s -p 3000 -b '0.0.0.0'"
    env_file:
      - .env.production
      - ./ui/.env.production
    volumes:
      - .:/usr/src/app
      - public:/usr/src/app/public
    ports:
      - "3000:3000"
    depends_on:
      - db