.cw-bar {
  z-index: 999;
}

.cw-bar__fixed {
  position: fixed;
  right: 0;
  left: 0;
}

.cw-bar__fixed--top {
  top: 0;
}

.cw-bar__fixed--bottom {
  bottom: 0;
}

.cw-bar__row {
  position: relative;
}

.cw-bar a.cw-bar__body {
  color: inherit;
}

.cw-bar__button--close {
  outline: 0;
  background-color: transparent;
  border: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  color: inherit;
}
