.cw-bar-html--loading .cw-bar {
  display: none;
}

.cw-bar {
  z-index: 999;
}

.cw-bar__fixed {
  position: fixed;
  right: 0;
  left: 0;
}

.cw-bar__fixed.cw-bar__top {
  top: 0;
}

.cw-bar__fixed.cw-bar__bottom {
  bottom: 0;
}

.cw-bar__row {
  position: relative;
}

.cw-bar__content--linkable {
  color: inherit;
  display: block;
}

.cw-bar__full-width-link .cw-bar__content {
  width: 100%;
}

.cw-bar__close {
  position: absolute;
  top: 0;
  bottom: 2px;
  right: 0;
}

.cw-bar__close > button {
  outline: 0;
  background-color: transparent;
  border: 0;
  color: inherit;
  font-size: 24px;
  vertical-align: middle;
  line-height: 0;
  padding: 0 10px;
  height: 100%;
}
